@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --text: #030407;
        --background: #f1f3f8;
        --primary: #42548a;
        --secondary: #dde1ee;
        --accent: #5369ac;

        --text-50: #edf0f7;
        --text-100: #dbe0f0;
        --text-200: #b8c2e0;
        --text-300: #94a3d1;
        --text-400: #7085c2;
        --text-500: #4d66b3;
        --text-600: #3d528f;
        --text-700: #2e3d6b;
        --text-800: #1f2947;
        --text-900: #0f1424;
        --text-950: #080a12;

        --background-50: #eef0f6;
        --background-100: #dde2ee;
        --background-200: #bbc5dd;
        --background-300: #99a8cc;
        --background-400: #778abb;
        --background-500: #556daa;
        --background-600: #445788;
        --background-700: #334266;
        --background-800: #222c44;
        --background-900: #111622;
        --background-950: #090b11;

        --primary-50: #eef0f7;
        --primary-100: #dde1ee;
        --primary-200: #bac3de;
        --primary-300: #98a5cd;
        --primary-400: #7587bd;
        --primary-500: #5369ac;
        --primary-600: #42548a;
        --primary-700: #323f67;
        --primary-800: #212a45;
        --primary-900: #111522;
        --primary-950: #080b11;

        --secondary-50: #eef0f6;
        --secondary-100: #dde1ee;
        --secondary-200: #bbc3dd;
        --secondary-300: #99a5cc;
        --secondary-400: #7787bb;
        --secondary-500: #5569aa;
        --secondary-600: #445488;
        --secondary-700: #333f66;
        --secondary-800: #222a44;
        --secondary-900: #111522;
        --secondary-950: #090b11;

        --accent-50: #eef0f7;
        --accent-100: #dde1ee;
        --accent-200: #bac3de;
        --accent-300: #98a5cd;
        --accent-400: #7587bd;
        --accent-500: #5369ac;
        --accent-600: #42548a;
        --accent-700: #323f67;
        --accent-800: #212a45;
        --accent-900: #111522;
        --accent-950: #080b11;

    }
    .dark {
        --text: #f8f9fc;
        --background: #07090e;
        --primary: #7587bd;
        --secondary: #111522;
        --accent: #5369ac;

        --text-50: #080a12;
        --text-100: #0f1424;
        --text-200: #1f2947;
        --text-300: #2e3d6b;
        --text-400: #3d528f;
        --text-500: #4d66b3;
        --text-600: #7085c2;
        --text-700: #94a3d1;
        --text-800: #b8c2e0;
        --text-900: #dbe0f0;
        --text-950: #edf0f7;

        --background-50: #090b11;
        --background-100: #111622;
        --background-200: #222c44;
        --background-300: #334266;
        --background-400: #445788;
        --background-500: #556daa;
        --background-600: #778abb;
        --background-700: #99a8cc;
        --background-800: #bbc5dd;
        --background-900: #dde2ee;
        --background-950: #eef0f6;

        --primary-50: #080b11;
        --primary-100: #111522;
        --primary-200: #212a45;
        --primary-300: #323f67;
        --primary-400: #42548a;
        --primary-500: #5369ac;
        --primary-600: #7587bd;
        --primary-700: #98a5cd;
        --primary-800: #bac3de;
        --primary-900: #dde1ee;
        --primary-950: #eef0f7;

        --secondary-50: #090b11;
        --secondary-100: #111522;
        --secondary-200: #222a44;
        --secondary-300: #333f66;
        --secondary-400: #445488;
        --secondary-500: #5569aa;
        --secondary-600: #7787bb;
        --secondary-700: #99a5cc;
        --secondary-800: #bbc3dd;
        --secondary-900: #dde1ee;
        --secondary-950: #eef0f6;

        --accent-50: #080b11;
        --accent-100: #111522;
        --accent-200: #212a45;
        --accent-300: #323f67;
        --accent-400: #42548a;
        --accent-500: #5369ac;
        --accent-600: #7587bd;
        --accent-700: #98a5cd;
        --accent-800: #bac3de;
        --accent-900: #dde1ee;
        --accent-950: #eef0f7;

    }
}



* {
    color: var(--text);
}

h1 {
    @apply text-5xl
}

h2 {
    @apply text-4xl
}

h3{
    @apply text-3xl
}

h4{
    @apply text-2xl
}

h5{
    @apply text-xl
}

h6 {
    @apply text-lg
}

small {
    @apply text-sm
}

p, span {
    @apply text-base
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input, textarea {
    @apply outline-primary placeholder-primary-300 caret-primary
}

*, *::before,*::after {
   box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    /*border: 1px solid;*/
}


html {
   -webkit-text-size-adjust: 100%;
}

body {
   background-color: var(--background);
   min-height: 100vh;
   line-height: 1;
   text-rendering: optimizeSpeed;
   overflow: hidden;
}

